html, body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.btn{ 
  text-transform: uppercase;
  padding: 10px 25px;
  background-color: $button-color;
  border: 0;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  color: $nav-font-color;
  transition: .3s;
  
  &:hover{
    background-color: adjust-color($button-color, $red: -32, $green: -32, $blue: -32);
    color: $hero-font-color;
    font-weight: 600;
  }
}

.back-to-top{
  margin: 0;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: inline;
  text-decoration: none;
  color: #ffffff;
  background-color: #3ea736;
  text-align: center;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.6);
  visibility: hidden;
  border-radius: 50%;
  i{
    font-size: 60px;
  }
  &:hover, &:focus{
    background-color: adjust-color($button-color, -36, -36, -36);
    color: #fff;
  }
  &.is-visible{ 
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  &.fade-out{
    opacity: .5;
  }
}