.features{ 
  &__wrapper{
    margin-bottom: 20px;
    margin-top: 70px;
    &-block{
      text-align: center;
      font-size: 13px;
      padding: 40px 60px;
      cursor: pointer;
      &:hover{
        img{
          filter: hue-rotate(-110deg) opacity(0.9) saturate(148%);
          transform: rotateY(360deg);
          transition: transform 1s ease-in, filter .3s .2s ease-in;
        }
      }
      img{
        transition: filter .4s ease-in;
      }
      h3{
        text-transform: uppercase;
        font-weight: 600;
      }          
      p{  
        &:first-of-type{
          @include boldedUpperCaseText(13px);
          margin-top: 30px;
        }
      }
    }
  }
}